#Form {
    width: 100%; 
    border: 5px solid rgb(153, 51, 51);
}
form input {
    color: blue;
    text-shadow: 2px 1px 5px red;
}
form input :only-of-type {
    background-color: rgb(172, 49, 49);
    color: rgb(203, 216, 87);
}
table , th,td {
    border: 4px dotted rgb(42, 41, 41);
    border-collapse: collapse;
}
th , td {
    padding: 15px;
}
#tableHolder {
    display: flex;
    justify-content: space-around;
}